
# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea/*

# Ignore specific folders
/code/.idea/
/dlgn-p_rgc_assignment/data/*
/rgc2lgn_model/data/*
/lgn_rf_depth/data/*
/lgn_rf_depth/results/*

# Exceptions for specific files
!/dlgn-p_rgc_assignment/results/*

# Ignore file types
*.DS_store
**/.smbdelete*
**/Untitled*


